<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodWriter</title>
</head>
<body>
    <!-- <img src="../Assets/Wallpaper/images.jpeg" alt="Wallpaper" id="wlpp1"> -->
    <div id="background"></div>
    <h1>My Writer Archive</h1>
    <div id="menubar">
        <!-- <button id="enter_account">Login/Sing in</button> -->
        <!-- <button id="menu_button">☰</button> -->
    </div>
    <div id="divisor"></div>
    <div id="Content">
        <div id="bookshelf">
            <img src="../Assets/Estante de livro.png" alt="Bookshelf" id="Bookshelf_image">
        </div>
        <div id="banner">Banner image</div>
        <div id="work_area">Work area</div>
    </div>

    <link rel="stylesheet" href="Source/Style/Account/StyleWindowLogin.css">
    <link rel="stylesheet" href="Source/Style/Account/StyleMenuBar.css">
    <link rel="stylesheet" href="Source/Style/Account/StyleContent.css">
    <script src="Source/Controller/MainWindowController.js"></script>
</body>
</html>