<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodWriter</title>
</head>
<body>
    <img src="../Assets/Wallpaper/images.jpeg" alt="Wallpaper" id="wlpp1">
    <div id="blur"></div>
    <h1>Good Writer Archive</h1>
    <div id="feed">Feed</div>
    <div id="menubar">
        <button id="enter_account">Login/Sing in</button>
        <button id="menu_button">☰</button>
        <div id="open_search_div">
            <button id="open_search" onclick="open_search()">⌕</button>
        </div>
        <div id="search_div">
            <textarea name="search" id="search" placeholder="Search"></textarea>
        </div>
    </div>
    <div id="divisor"></div>
    <link rel="stylesheet" href="Source/Style/StyleMainWindow.css">
    <script src="Source/Controller/MainWindowController.js"></script>
</body>
</html>