#menubar {
    position: fixed;
    top: 0%;
    left: 0%;
    background: #020820;
    width: 100vw;
    height: 5vh;
}

#enter_account {
    position: fixed;
    top: 1.25%;
    right: 5%;
}

#menu_button {
    position: fixed;
    top: 1.25%;
    left: 5%;
}