body {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wlpp1 {
    position: fixed;
    top: 5%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#blur {
    position: fixed;
    top: 5%;
    width: 100vw;
    height: 100vh;
    background-color: #00000050;
    object-fit: cover;
    backdrop-filter: blur(4px);
}

#feed {
    position: fixed;
    display: flex;
    background-color: white;
    top: 22%;
    width: 75vw;
    height: 78vh;
    justify-content: center;
    align-items: center;
}

#divisor {
    position: fixed;
    background-color: #d8bf88;
    left: 0%;
    top: 5%;
    width: 100vw;
    height: 0.4vh;
}

#menubar {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #0d182c;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 5vh;
}

#enter_account {
    position: absolute;
    right: 5%;
    top: 25%;
    width: 10vw;
    height: 2.5vh;
    font-size: 1.4vh;
    border-radius: 10px;
}

#menu_button {
    position: absolute;
    left: 2.5%;
    top: 25%;
    width: 1.5vw;
    height: 2.5vh;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-size: 1.25vh;
}

#open_search_div {
    position: fixed;
    top: 1%;
    width: 3%;
    height: 3%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

#open_search {
    position: fixed;
    border-radius: 1.5rcap;
    left: 30%;
    width: 1.65%;
    height: 3%;
    font-size: 1.6vh;
}

#search_div.normal {
    width: 0px;

    transition: width 0.5s ease;
}

#search_div.clicked {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80808067;
    border-radius: 20px;
    top: 1%;
    left: 30%;
    width: 40vw;
    height: 3vh;
}

.willappair {
    display: none;
    width: 0px;
    height: 0px;
}

#search {
    resize: none;
    background: transparent;
    border-radius: 20px;
    border: transparent 0px none;
    left: 30%;
    width: 40vw;
    height: 1.6vh;
    text-align: center;
    font-size: 1.6vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #d8bf88;
    overflow-y: hidden;
}

h1 {
    position: fixed;
    font-size: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 6%;
    color: #d8bf88;
}