body {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background {
    position: fixed;
    top: 5%;
    width: 100vw;
    height: 95vh;
    background-image: linear-gradient(to right, #77ad56,#1d4175);
    object-fit: cover;
    backdrop-filter: blur(4px);
}

#divisor {
    position: fixed;
    background-color: #d8bf88;
    left: 0%;
    top: 5%;
    width: 100vw;
    height: 0.4vh;
}

h1 {
    position: fixed;
    font-size: 300%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 6%;
    left: 10%;
    color: #d8bf88;
}